.card-header{
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    opacity: 0.5;
}

h1{
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flow;
    font-weight: bold;
    align-content: center;
}

.btn {
    transition: all 0.3s ease-in-out;
}

